/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;

    background: linear-gradient(135deg, #1d2b64, #8e44ad); /* Gradien biru tua ke ungu */
    font-family: Arial, sans-serif;
}

header {
    background-color: #1d0533;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header input {
    margin-top: 1rem;
    padding: 0.5rem;
    width: 80%;
    max-width: 600px;
    border-radius: 4px;
    border: none;
}

main {
    padding: 2rem;
}


.book-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.book-item {
    background-color: hwb(0 100% 0%);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.book-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book-item img {
    width: 100%;
    height: auto;
}

.book-item h2 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

.book-item p {
    padding: 0 1rem 1rem;
    font-size: 0.9rem;
    color: #555;
}


.my-button {
    background-color: #5900ff; /* Warna latar belakang tombol */
    color: white; /* Warna teks tombol */
    border: none; /* Menghilangkan garis batas tombol */
    padding: 10px 20px; /* Jarak antara teks dan tepi tombol */
    text-align: center; /* Menyelaraskan teks di tengah tombol */
    text-decoration: none; /* Menghilangkan garis bawah teks */
    display: inline-block; /* Mengatur tombol sebagai elemen blok dalam baris */
    font-size: 16px; /* Ukuran font */
    margin: 4px 2px; /* Jarak tombol dengan elemen lain */
    cursor: pointer; /* Menampilkan kursor pointer saat hover */
    border-radius: 5px; /* Sudut tombol membulat */
    transition: background-color 0.3s ease; /* Efek transisi saat hover */
}

.my-button:hover {
    background-color: #0056b3; /* Warna latar belakang tombol saat hover */
}
