body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1d2b64, #8e44ad); /* Gradien biru tua ke ungu */
    color: #333;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #ccc;
    page-break-inside: avoid;
}
h1, h2 {
    text-align: center;
    color: #555;
}
.cerpen {
    margin-bottom: 40px;
    page-break-inside: avoid;
}
.cerpen-title {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}
.cerpen-content {
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    text-indent: 50px;
}
.footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    margin-top: 40px;
}
.navigation {
    text-align: center;
    margin-top: 20px;
}
.navigation button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #a207d1;
    color: #fff;
    border: none;
    cursor: pointer;
}
.navigation button:hover {
    background-color: #555;
}

.decorative-photo {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px; /* Adjust the spacing as needed */
    float: left; /* Make the text wrap around the image */
}
